@model IEnumerable<src.Models.OFXTransactionModel>
@{
    ViewData["Title"] = "Bank Page";
}

<div class="card">
  <div class="card-header">
    Upload OFX files - Reconcile the bank statement
  </div>
  <div class="card-body">
    <form method="post" enctype="multipart/form-data" asp-controller="FileUpload" asp-action="Index">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload one or more OFX files:</p>
                <input type="file" name="files" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Upload" />
            </div>
        </div>
    </form>
  </div>
</div>
<br>
<div class="card">
  <div class="card-header">
    Transactions
  </div>
  <div class="card-body">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Transactiont Type</th>
            <th scope="col">Date</th>
            <th scope="col">Transaction Amount</th>
            <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(ModelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactiontType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }
        </tbody>
    </table>
  </div>
</div>